.titleComponents {
    background: #e0e1e2 !important;
    border-radius: 0px !important;
  }
.headerComponent{
  font-family: "Open_Sans" !important;
   color:#055990 !important
}
.style-text{
  color: #055990 !important;
  font-weight: normal !important;
}

