.img-principal {
  width: 40px !important;
  height: 40px !important;
  margin-top: 10px;
  justify-self: center;
  text-align: center;
}
.div-carousel-currency {
  display: inline-flex;
}

.button-carousel-price {
  background-color: #f4f4f4 !important;
}
#button-carousel-price {
  background-color: #f4f4f4 !important;
}
.text-prices {
  font-size: calc(0.45em + 0.45vw) !important;
  align-items: flex-end !important;
  text-align: left !important;
  vertical-align: middle;
}
.text-prices-mobile {
  font-size: 11px !important;
  align-items: flex-end !important;
  text-align: left !important;
  vertical-align: middle;
}
.text-variation {
  font-size: calc(0.45em + 0.45vw) !important;
  align-items: flex-end !important;
  text-align: right !important;
  vertical-align: middle;
}
.text-variation-mobile {
  font-size: 11px !important;
  align-items: flex-end !important;
  text-align: right !important;
  vertical-align: middle;
}
.segment-price {
  background-color: #ffffff !important;
  margin-top: -23px !important;
  border-radius: 0% !important;
  padding: 7px !important;
}

.segment-price-impar {
  background-color: #f4f4f4 !important;
  margin-top: -23px !important;
  border-radius: 0% !important;
  padding: 7px !important;
}
.segmentDisplay {
  background-color: #f4f4f4;
  box-shadow: 0 0 0 1px #d4d4d5, 0 2px 4px 0 rgb(34 36 38 / 12%), 0 2px 10px 0 rgb(34 36 38 / 15%) !important;
  border: 1px solid rgba(34,36,38,.15);
}
.segment-price-mobile {
  background-color: #ffffff !important;
  margin-top: -23px !important;
  border-radius: 0% !important;
  padding: 10px !important;
}

.segment-price-mobile-impar {
  background-color: #f4f4f4 !important;
  margin-top: -23px !important;
  border-radius: 0% !important;
  padding: 10px !important;
}

.subtitle-price-currency {
  font-size: calc(0.35em + 0.35vw) !important;
  text-align: left !important;
  font-weight: bold;
  color: white;
}
.subtitle-price-currency-mobile {
  font-size: 9px !important;
  text-align: left !important;
  font-weight: bold;
  color: white;
}
.subtitle-price-variation {
  font-size: calc(0.35em + 0.35vw) !important;
  text-align: left !important;
  font-weight: bold;
  color: white;
}
.subtitle-price-variation-mobile {
  font-size: 9px !important;
  text-align: left !important;
  font-weight: bold;
  color: white;
}
.name-currency {
  margin-left: 15px !important;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: calc(0.45em + 0.45vw);
}

.line-vertical-public {
  width: "100%";
  border-right: 2px solid white !important;
  text-align: right !important;
}

.liststyle {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  width: 100% !important;
  margin-bottom: 10px !important;
  margin-top: 5px !important;
  margin-right: 10px !important;
}
.liststyle-mobile {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 300px;
  width: 100% !important;
  margin-bottom: 10px !important;
  padding-left: 0px !important;
  padding-right: 2px !important;
  margin-top: 8px !important;
  margin-right: 5px !important;
}
.list-item-style {
  padding: 15px 0px 15px 10px !important;
  margin-top: 3px !important;
}
