#phone-field {
  margin-left: 8px;
}

#text-direction {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 189px;
}

.images-verify {
  display: flex !important;
  align-items: center !important;
  margin:1px 30px 1px 30px !important;
}
