
  .button-large{
    width: 37em;
    height: 4em;
    font-size: 12px;
    font-weight: 200;
  }
  .item-text-homeLogue{
    font-family: "Open_Sans" !important;
     color: #055990 !important;
     font-size: 14px;
     text-align: center !important;
     width: 190px;
    }
  
  