.titleComponentMobileRegister {
  color: #ffffff !important;
  text-transform: uppercase !important;
}
.titleComponentMobileRegister2 {
  color: #ffffff !important;
}
.yesRegisterMobile {
  color: #ffa500 !important;
}
.regular-checkbox {
  -webkit-appearance: none;
  background-color: #d40707;
  border: 1px solid #0b0ef5;
  box-shadow: 0 1px 2px rgba(19, 1, 1, 0.05),
    inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.container-form {
  padding: 20px 100px 15px 100px !important;
}

@media screen and (min-width: 300px) and (max-width: 450px) {
  .container-form {
    padding: 10px 20px 10px 20px;
  }
  .g-recaptcha-response {
    transform: scale(0.58) !important;
    -webkit-transform: scale(0.58) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
  }
}

@media screen and (min-width: 450px) and (max-width: 767px) {
  .container-form {
    padding: 10px 20px 10px 20px;
  }
  .g-recaptcha-response {
    transform: scale(0.58) !important;
    -webkit-transform: scale(0.58) !important;
    transform-origin: 0 0 !important;
    -webkit-transform-origin: 0 0 !important;
  }
  #reca {
    margin-left: -55px !important;
  }
}

@media (min-width: 768px) {
  .container-form {
    padding: 50px 20px 50px 20px;
  }
}

.rc-anchor-normal .rc-anchor-pt {
  right: 35px;
}

.rc-anchor-normal .rc-anchor-checkbox-label {
  width: 119px;
}

.captcha > div > div {
  display: flex;
  place-content: center;
}
